.signup-form{
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 380px;
    margin-bottom: 10px;
}
h4{
    margin-top: 20px;
}
input[type="text"]{
    width: 100%;
}